  <div class="d-flex">
    <div class="d-flex align-items-stretch justify-content-center menu-sidebar bg-primary">
    <h1 class="text-white">Section 1</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center bg-success">
        <h1 class="text-white">Section 2</h1>
    </div>


<% if policy(@menu).edit? %>
  <%= link_to "Edit this menu", edit_menu_path(@menu) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this menu", @menu, method: :delete if policy(@menu).destroy? %>











</div>
