  <div class="d-flex">
    <div class="d-flex align-items-stretch justify-content-center menu-sidebar bg-primary">
    <h1 class="text-white">Section 1</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center bg-success">
        <h1 class="text-white">Section 2</h1>
    </div>














</div>
