// Specific CSS for your home-page

.dashboard-banner {
  background-image: url("https://res.cloudinary.com/dobohmdlf/image/upload/v1678218674/banner_ebliox.png");
  background-size: cover;
  background-position: bottom;
  height: 300px;
}

.brand-img {
  width: 75%;
}
