<footer class="text-center">

  <div class="container p-4 pb-0">

      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-facebook-f"></i>
        </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-twitter"></i>
        </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-google"></i>
        </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fab fa-instagram"></i>
      </a>

  </div>

  <div class="text-center mt-10 pb-20">
    © by MeloMenu 2023
  </div>
</footer>
