<body style="height: 100%">
<div class="bg-container-full">
  <div class="container main-card d-flex flex-column align-items-stretch card-content">
    <div class="container p-20"; style="margin-bottom: 50px;">
      <h1>About Us!</h1>

<img src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678963313/LW_HS-18_kghvm0.jpg" class="group-photo" >
        <%# <%= link_to 'submit', root_path, class: "btn-secondary-cards" %>


    </div>
  </div>
</div>
