

<div class="container">
  <h3>Dishes for <%= @menu.menu_name %> </h3>
    <% @dishes.each do | dish | %>
    <% if dish.menu_id == @menu.id %>
    <p><%= dish.name %></p>
    <% end %>
    <% end %>

</div>
