<h1>My Restaurants</h1>
<% if @restaurants.any? %>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li>

        <h3><%= restaurant.name %></h3>

        <%= link_to 'Restaurant information', user_restaurant_path(restaurant.user, restaurant) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't added any restaurants yet.</p>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

 <p class ="btn-primary" ><%= link_to 'Add Restaurant', new_user_restaurant_path %></p>
