<div class="container">
<h1>My Restaurants</h1>
<% if @restaurants.any? %>
  <ul>

    <% @restaurants.each do |restaurant| %>
    <% if restaurant.user_id = current_user.id %>

       <h4 class="my-0"> <%= link_to restaurant.name, user_restaurant_path(current_user, restaurant) %></h4>

    <% end %>
        <% end %>
  </ul>
<% else %>
  <p>You haven't added any restaurants yet.</p>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

 <p class ="btn-primary" ><%= link_to 'Add Restaurant', new_user_restaurant_path %></p>


<%# <%= link_to "New restaurant", new_restaurant_path if policy(Restaurant).new? %>
</div>
