<div class="bg-container-full">

<div class="container main-card-index d-flex flex-column align-items-start justify-content-start card-content" style="margin-bottom: 100px; padding-bottom: 200px">
<img class="corner-img" src="https://res.cloudinary.com/dobohmdlf/image/upload/v1678881148/corner_image_menoet.png">

<h1 class="w-full all-content">My Menus</h1>
<hr class="full">

<p class="pb-30">Choose the restaurant your menu is associated with, or add a new restaurant.</p>
 <p class ="btn-primary-cards" ><%= link_to 'Add a New Restaurant', new_user_restaurant_path %></p>

<% if @restaurants.any? %>
<nav class="menu w-full">
  <ol class="d-flex align-items-center justify-content-around w-full">
    <% @restaurants.each do |restaurant| %>
        <% if restaurant.user_id = current_user.id %>

    <li class="menu-item d-flex flex-column align-items-center w-half">
         <div class="menu-img mx-auto"> <%= image_tag("#{@images.sample}")%></div>
      <%= link_to restaurant.name, user_restaurant_path(current_user, restaurant) %><p class="triangle">></p>
      <ol class="sub-menu align-items-center justify-content-center">
        <% restaurant.menus.each do |menu|%>
        <li class="menu-item w-full mx-auto"><%= link_to menu.menu_name, edit_user_restaurant_menu_path(@user, restaurant, menu)%></li>
        <% end %>
      </ol>
</li>



<% end %>

  <% end %>


<% else %>
  <p>You haven't added any restaurants yet.</p>
<% end %>

</ol>
</nav>
</div>

</div>

</div>

</div>
