<h1>My Restaurants</h1>
<% if @restaurants.any? %>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= restaurant.name  %>
        <%= button_to 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't added any restaurants yet.</p>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= link_to 'Add a new restaurant', new_user_restaurant_path %>
