


.menu-sidebar {
  height: 100vh;
  width: 30vw;
  background-color: #E27B57;
  flex-grow: 1;
}

.template-banner {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  object-position: bottom;
}

.template-header {
  position: relative;
}

.menu-name {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3%;
  border-radius: 10%;

    h2 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
.main-section {
  flex-grow: 3;
}
.section-two {
  width: 70vw;
  background-color: #F8E6E5;
}

.section-three {
  width: 70vw;
  background-color: #FFFFFF;

}

.section-four {
  width: 70vw;
  background-color: #F8E6E5;

}

.section-five {
  width: 70vw;
  background-color: #FFFFFF;

}
