.template-1 {
  h1, h2, h3, h4 {
  font-family: 'Pacifico', cursive;
  margin-bottom: 0;
  }
}

.menu-sidebar {
  height: 100vh;
  width: 30vw;
  background-color: #E27B57;
  flex-grow: 1;
}

.template-banner {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  object-position: bottom;
}

.template-header {
  position: relative;
}

.menu-name {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3%;
  border-radius: 10%;
}
.main-section {
  flex-grow: 3;
  margin: 0 auto;
}
.section-one {
  width: 70vw;
  background-color: #F8E6E5;
  padding-left: 10%;

}

.section-two {
  width: 70vw;
  background-color: #fdf6cc;
  padding-left: 10%;

}

.section-three {
  width: 70vw;
  background-color: #F8E6E5;
  padding-left: 10%;

}

.section-four {
  width: 70vw;
  background-color: #fdf6cc;
  padding-left: 10%;

}

.diet-icon {
  width: 25px;
  padding-top: 0;
  margin-bottom: 25px;

}
