.template-1 {
  h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0;
  }
}

.template-2 {
  h1, h2, h3, h4 {
    font-family: 'Amatic SC', cursive;
    margin-bottom: 0;
  }
}

.template-3 {
  h1, h2, h3, h4 {
    font-family: 'Walter Turncoat', cursive;
    margin-bottom: 0;
  }
}

.template-4 {
  h1, h2, h3, h4 {
    font-family: 'Great Vibes', cursive;
    margin-bottom: 0;
  }
}

.template-5 {
  h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
  }
}


.template1-bg {
  background-color: #e0ffd4;
}

.template2-bg {
  background-color: #DCD9BC;
}

.template3-bg {
  background-color: #d4d4d4;
}

.template4-bg {
  background-color: #F7F0E2;
}

.template5-bg {
  background-color: #FFFFFF;
}

.menu-sidebar-1 {
  height: 130vh;
  background-color: black;
  flex-grow: 1;
  width: 25%;
}

.menu-sidebar-2 {
  height: 130vh;
  background-color: #AC5B2E;
  flex-grow: 1;
  width: 25%;
}

.menu-sidebar-3 {
  height: 130vh;
  background-color: #393939;
  flex-grow: 1;
  width: 25%;
}

.menu-sidebar-5 {
  height: 130vh;
  background-color: #6992C0;
  flex-grow: 1;
  width: 25%;
}

.template-banner-1 {
  width: 100vw;
  height: 40vh;
  background-image: url("https://res.cloudinary.com/dobohmdlf/image/upload/a_90/v1678702540/v883-mynt-18_umjuik.jpg");
  background-size: cover;
  position: relative;
  border-bottom: 10px solid black;

    h1 {
      color: white;
    }

}

.template-banner-2 {
  width: 100vw;
  height: 40vh;
  background-image: url("https://res.cloudinary.com/dobohmdlf/image/upload/v1678717419/boho-banner_apevcl.png");
  background-size: cover;
  position: relative;
  border-bottom: 10px solid #AC5B2E;

    h1 {
      color: #AC5B2E;
      font-size: 75px;
    }

}

.template-banner-3 {
  width: 100vw;
  height: 40vh;
  background-image: url("https://res.cloudinary.com/dobohmdlf/image/upload/v1678722269/3126494_xtxorj.png");
  background-size: cover;
  position: relative;
  background-position: center;
  border-bottom: 10px solid #393939;

    h1 {
      color: #393939;
      font-size: 65px;
    }

}

.template-banner-4 {
  width: 100vw;
  height: 40vh;
  background-image: url("https://res.cloudinary.com/dobohmdlf/image/upload/v1678724639/sl_082320_34310_20_Converted_gxvwwp.png");
  background-size: cover;
  position: relative;
  background-position: center;

    h1 {
      color: Black;
      font-size: 65px;
    }

}

.template-banner-5 {
  width: 100vw;
  height: 40vh;
  background-color: #6992C0;
  position: relative;
  border-bottom: 10px solid #FFF;

    h1 {
      color: white;
      font-size: 85px;
    }

}

.template-header {
  position: relative;
}

hr.white {
  border-top: 1px solid white;
}

hr.black {
  border-top: 1px solid rgb(0, 0, 0);
}


.menu-name-1 {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 1);
  padding: 3%;
  border-radius: 10px;
}

.menu-name-2 {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
}

.menu-text {
  margin-right: 15%;
}
.main-section {
  flex-grow: 3;
  margin: 0 auto;
  background-color: white;
}

.menu-main-card {
  background-color: white;
  width: 75%;
  height: 100%;
  box-shadow: 0px 0px 27px 6px rgba(0,0,0,0.18);
  margin: 0 auto;
}

.menu-section {
  padding-left: 10%;
  padding-right: 15%;

}

.icon-key-container-full {
  display: flex;
}

.icon-key-container-mobile {
  display: none
}

.diet-icon {
  height: 15px;
  padding-top: 0;
  margin-left: 25px;
}

.icon-key {
  font-size: 12px;
  height: auto;
  padding: 10px;
  padding-right: 15%;

  img {
    padding-top: 2px;
  }
}

.all-content {
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .template-header {
    position: relative;
    right: -10px;
    left: 5px;
  }

  .template-banner-1 {
    height: 250px;
    border-bottom: 0;
  }

  .template-banner-2 {
    height: 250px;
    border-bottom: 0;
  }

  .template-banner-3 {
    height: 250px;
    border-bottom: 0;
  }

  .template-banner-4 {
    height: 250px;
    border-bottom: 0;
  }

  .template-banner-5 {
    height: 150px;
    border-bottom: 0;
    background-color: white;
    h1 {
      color: black;
    }
    hr.white {
      border-top: 1px solid black;
    }
  }

  .menu-main-card {
    width: 100%;
  }

  .template-1 {
    h1 {
      font-size: 30px;
      text-align: center;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 0;
    }
  }

  .template-2 {
    h1 {
      font-size: 30px;
      text-align: center;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 0;
    }
  }

  .template-3 {
    h1 {
      font-size: 20px;
      text-align: center;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 0;
    }
  }

  .template-4 {
    h1 {
      font-size: 20px;
      text-align: center;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 0;
    }
  }

  .template-5 {
    h1 {
      font-size: 20px;
      text-align: center;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 0;
    }
  }
  .main-section {
    margin: 0;
    padding-right: 30px;
    padding-bottom: 20px;
  }

  .all-content {
    flex-direction: column;
  }

  .menu-sidebar-1 {
    height: auto;
    width: 100%;
  }

  .menu-sidebar-2 {
    height: auto;
    width: 100%;
  }

  .menu-sidebar-3 {
    height: auto;
    width: 100%;
  }

  .menu-sidebar-4 {
    height: auto;
    width: 100%;
  }

  .menu-sidebar-5 {
    height: auto;
    width: 100%;

  }


  .menu-text {
    margin-right: 0;
  }

  .diet-icon {
    width: 18px;
  }

  .icon-key-container-full {
    display: none;
  }

  .icon-key-container-mobile {
    display: flex
  }

  .menu-name-2 {
    top: 40%;
  }
}
